*{
    margin: 0% ;
    box-sizing: border-box;
}
body{
    position: relative;
    min-height: 100vh;
}
p{
    font-size: 2.5vh;
}
/*mobile @media screen and (max-width: 767px){*/ 

.he_m{
    background-color:#664438;
    grid-area: he;
    display: flex;
    height: 12vh;
}

.logga{
    width: 70vw;
    height: 7vh;
    justify-self: flex-start;
    margin-top: 10px;
    margin-right: 6px;
    margin-bottom: 5px;
    margin-left: 10px;
} 

.menu_button{
    max-height: 10vh;
}

.menu{
    width: 15vw;
    height: 8vh;
    margin: 4px;
    margin-left: 5vw;
}

.desknav{
    display: none;
}

.hidden_nav{
    display: none;
}

.hidden_nav.active{
    display: grid;
    grid-template-rows: repeat(6, 8vh);
    background-color: #AC8474;
    grid-gap: 2vh;
    text-align: center;
    font-size: 2vh;
    padding-top: 2vh;
    
    
}

.hidden_nav>a{
    text-decoration: none;
    color: #FBF0DF;
    font-size: 4.5vh;
    font-weight: 600;
}

.ma_m{
    background-color: #FBF0DF;
    grid-area: ma;
}

.mySlides{
    display: none;
    height: 30vh;
    width: 85vw;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
.a1_m{
    height: fit-content;
    width: 90vw;
    margin: 0 auto;  
    padding-bottom: 3vh;
}

.a1_m > h2{
    display: block;
    text-align: center;
    padding-top: 3vh;
}

.a1_m > p{
    padding-left: 6vw;
    padding-top: 2vh;
    padding-right: 6vw;
    padding-bottom: 1vh;
}

#nytt_bild{
    display: none;
}

.fo_m{
    background-color:#664438;
    grid-area: fo;
    display: flex;
    display: grid;
    grid-template-areas: 
    'co f1 ko'
    'co f2 ko'
    'co f3 ko'
    ;
    grid-template-columns: 30% 25% 45%;
    grid-template-rows: repeat(3, 4.5vh);
    bottom: 0;
    width: 100%;
    padding-top: 1vh;
}

.fb> img{
    height: 10vh;
    padding-right: 2vw;
    padding-left: 5vw;
   }
.copyr{
    margin: 1vh auto;
}

.företag_1_div{
    grid-area: f1;
}
.företag_2_div{
    grid-area: f2;
}

.företag_3_div{
    grid-area: f3;
}

.footer_kontakt{
    margin-top: 0.5vh;
    grid-area: ko;
    padding: 2px;
}
.footer_kontakt >p > a{
    color: black;
    font-size: 2vh;
    text-decoration: none;
}
#maps > a{
    font-size: 2.5vh;
    text-decoration: underline;
}
.fo_m > div{
    margin-top: 0.5vh;
}
.fo_m > div > a> img{
    width: 20vw;
    height: 2.5vh;

}

.fig{
    display: none;
}

.fo_m> .bigman{
    display: none;
}

.fo_m> .fb_sok{
    padding-top: 1vh;
    padding-right: 2vw;
    color: #FBF0DF;
}

/*Desktop*/
@media screen and (min-width: 767px){

    .fade{
        background-image: url(../img/fade_background.jpg) ;
        background-size: 100vw 45vh;
    }

    .he_m{
        background-color: transparent;
        grid-area: he;
        display: flex;
        height: fit-content;
        justify-content: space-around;
        padding-bottom: 1vh;
    }
    
    .logga{
        width: 25vw;
        height: auto;
        justify-self: center;
        margin: 2vh 0 auto;
    } 
    
    .menu_button{
        display: none;
    }
    .hidden_nav{
        display: none;
    }
    
    .desknav{
        display: grid;
        background-color: unset;
        grid-template-areas: 
        'a1 a1 a1'
        'a1 a1 a1';
        grid-template-rows: repeat(2, 5vh);
        grid-template-columns: repeat(3, 32%);
        grid-gap: 2vh;
        text-align: center;
        padding-top: 3vh;
        padding-bottom: 2vh;
    
    }
    .desknav>a{
        text-decoration: none;
        font-size: 4vh;
        font-weight: 600;
        color: black;
    }
    .ma_m{
        background-color:#FBF0DF;
        grid-area: ma;
    }
    
    #nytt_bild{
    display: block;
    height: 80vh;
    width: 85vw;
    padding-top: 5vh;
    margin-left: 5vw;
    object-fit: cover;
    }
    
    .a1_m{
        height: fit-content;
        width: 90vw;
        margin: 0 auto;  
    }
    
    .a1_m > h2{
        display: block;
        text-align: center;
        padding-top: 3vh;
    }
    
    .a1_m > p{
        padding-left: 6vw;
        padding-top: 2vh;
        padding-right: 6vw;
        padding-bottom: 1vh;
    }

    .fig{
        display: flex;
        margin-top: 10vh;
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;
    }

    .deskbild{
        margin: 30px;
        height: 50vh;
        width: 49vw;
        border: black solid;
        object-fit: cover;
    }
    
    .desktext{
        width: 35vw;
        text-align: center;
        margin: 30px;
        padding: 30px;
        
    }

    .fo_m{
        background-color: #664438;
        grid-area: fo;
        display: flex;
        bottom: 0;
        width: 100%;
        
    }
    
    .footer_kontakt{
        margin-top: 0.5vh;
        grid-area: ko;
        padding: 2px;
    }
    .footer_kontakt >p > a{
        color: black;
        font-size: 2vh;
        text-decoration: none;
    }
    #maps > a{
        font-size: 2.5vh;
        color: black;
    }

   .fb> img{
    height: 13vh;
    padding-right: 2vw;
    padding-left: 15vw;
   }
   .fo_m> .fb_sok{
       padding-top: 5vh;
       padding-right: 20vw;
       color: #FBF0DF;
   }
    .fo_m> .bigman{
    font-size: 5vh;
    color: #FBF0DF;
    padding-top: 3vh;
    padding-right: 2vw;
    }

}

