*{
    margin: 0% ;
    box-sizing: border-box;
}
body{
    position: relative;
    min-height: 100vh;
}
p{
    font-size: 2.5vh;
}
/*mobile @media screen and (max-width: 767px){*/ 

.he_m{
    background-color:#664438;
    grid-area: he;
    display: flex;
    height: 12vh;
}

.logga{
    width: 50vw;
    height: 7vh;
    justify-self: flex-start;
    margin-top: 10px;
    margin-right: 25vw;
    margin-bottom: 5px;
    margin-left: 10px;
} 

.menu_button{
    max-height: 10vh;
}

.menu{
    width: 15vw;
    height: 8vh;
    margin: 4px;
    margin-left: 5vw;
}

.desknav{
    display: none;
}

.hidden_nav{
    display: none;
}

.hidden_nav.active{
    display: grid;
    grid-template-rows: repeat(6, 8vh);
    background-color: #AC8474;
    grid-gap: 2vh;
    text-align: center;
    font-size: 2vh;
    padding-top: 2vh;
    
    
}

.hidden_nav>a{
    text-decoration: none;
    color: #000000;
    font-size: 4.5vh;
    font-weight: 600;
}

.ma_m{
    background-color: #FBF0DF;
}

.mySlides{
    display: none;
    height: 30vh;
    width: 85vw;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
.a1_m{
    height: fit-content;
    width: 90vw;
    margin: 0 auto;  
    padding-bottom: 3vh;
}

.a1_m > h2{
    display: block;
    text-align: center;
    padding-top: 3vh;
    font-size: 5vh;
}

.a1_m > p{
    padding-left: 6vw;
    padding-top: 2vh;
    padding-right: 6vw;
    padding-bottom: 1vh;
}

#nytt_bild{
    display: none;
}

.fo_m{
    background-color:#664438;
    grid-area: fo;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 4.5vh);
    bottom: 0;
    width: 100%;
    padding-top: 1vh;

}

.fb> img{
    height: 10vh;
    padding-right: 2vw;
    padding-left: 5vw;
   }
.copyr{
    margin: 1vh auto;
}

.footer_kontakt{
    margin-top: 0.5vh;
    grid-column-start: 3;
    padding: 2px;
}
.footer_kontakt >p > a{
    color: black;
    font-size: 2.5vh;
    text-decoration: underline;
    color: #FBF0DF;
}

.footer_kontakt>p{
    color:  #FBF0DF;
    font-size: 2.5vh;
}
#maps{
    grid-column-start: 3;
    margin-top: 2vh;
}
#maps > a{
    
    font-size: 2.5vh;
    text-decoration: underline;
    color:  #FBF0DF;
}
.fo_m > div{
    margin-top: 0.5vh;
}
.fo_m > div > a> img{
    width: 20vw;
    height: 2.5vh;

}

.fig{
    display: none;
}

.fo_m> .bigman{
    display: none;
}

.fo_m> .fb_sok{
    padding-top: 1vh;
    padding-right: 2vw;
    color: #FBF0DF;
}
/*1

*/
.fig_2{
    height: fit-content;
    width: 80%;
    padding-left: 8vw;
    padding-top: 3vh;
    align-self: center;
    margin-left: 10vw;
    
}
.a1_m>.bara_synas_m{
    align-self: center;
    padding-left: 24vw;
    padding-top: 5vh;
}
.fig_2>h3{
padding-bottom: 1vh;
}
.deskbild_2{
    height: 40vh;
    width: 65vw;
    margin-bottom: 1vh;
    object-fit: cover;
    border: black solid;
}

.mob_text{
    font-size: 20px;
    padding-bottom: 4vh;
}
.bara_synas_d{
    display: none;
}
.mob_text > h3{
    padding-bottom: 2vh;
}
.hi_no_ai{
    display: none;
}
#dabigindaback{
    height: fit-content;
    width: 100%;
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-image: url(/img/blekfesk.jpg);
    background-size: cover;
}

#dabigindaback>article{
    height: fit-content;
    width: 80%;
    border: black solid;
    margin: auto;
    background-color:#664438;
    opacity: 85%;
    color: #FBF0DF;
    text-align: center;
}

#dabigindaback>article>p{
padding-top: 3vh;
}

.om_foretaget{
    width: 80vw;
    height: fit-content;
    margin: 0 auto;  
    padding-bottom: 3vh;
    text-align: center;
}

.om_foretaget>h3{
    padding-bottom: 3vh;
    padding-top: 3vh;
}
/*---*/
.transportfig{
    height: fit-content;
    width: 80%; 
    padding: 5vw;
    margin: auto;
    padding-bottom: 5vh;
    border: black solid;
    position: relative;
    margin-bottom: 5vh;
}
body > div > main > figure:nth-child(2) > article > p:nth-child(2), body > div > main > figure:nth-child(3) > article > p:nth-child(2){
    padding-bottom: 3vw;
}
.froetagsihittabild{
    height: auto;
    width: 30vw;
    background-color: #664438;
    display: inline;
    position: absolute;
    right: 0;
    bottom: 0;

    border: black solid;
}


.end_desk{
    display: none;
}
.bussbild{
    display: none;
}
.hellibild{
    display: none;
}
.transp_rubrik{
    text-align: center;
}

.sec{
    height: fit-content;
    align-items: center;
    margin: auto;
    padding-bottom: 2vh;
}
.privat_trans{
    
    text-align: center;
    width: 90%;
    margin: auto;
}
.karta{
    height: 35vh;
    width: 80vw;
    margin: 3vh auto;
}
#go_k{
    width: 80vw;
    height: 35vh;
    border: black solid;
    
}
.visa_efter_swipe{
    width: 100%;
    text-align: center;
    padding-bottom: 5vh;
}
.swipe_bild{
    margin: auto;
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
}

#anki_bild{
    border: black solid ;

}
#bob_bild{
    border: black solid ;

}


/*Desktop*/
@media screen and (min-width: 767px){

    p{
        font-size: 20px;
    }
    h2{
        font-size: 5vw;
    }
    .fade{
        background-image: url(../img/fade_background.jpg) ;
        background-size: 100vw 45vh;
    }

    .he_m{
        background-color: transparent;
        grid-area: he;
        display: flex;
        height: fit-content;
        justify-content: space-around;
        padding-bottom: 1vh;
    }
    
    .logga{
        width: 25vw;
        height: 12vh;
        justify-self: center;
        margin: 2vh 0 auto;
    } 
    
    .menu_button{
        display: none;
    }
    .hidden_nav{
        display: none;
    }
    
    .desknav{
        display: grid;
        background-color: unset;
        grid-template-areas: 
        'a1 a1 a1'
        'a1 a1 a1';
        grid-template-rows: repeat(2, 5vh);
        grid-template-columns: repeat(3, 32%);
        grid-gap: 2vh;
        text-align: center;
        padding-top: 3vh;
        padding-bottom: 5vh;
    
    }
    .desknav>a{
        text-decoration: none;
        font-size: 4vh;
        font-weight: 600;
        color: black;
    }
    .ma_m{
        background-color:#FBF0DF;
        grid-area: ma;
    }
    
    #nytt_bild{
    display: block;
    height: auto;
    width: 85vw;
    padding-top: 5vh;
    margin-left: 5vw;
    margin-bottom: 10vh;
    object-fit: cover;
    }
    
    .a1_m{
        padding-top: 10vh;
        height: fit-content;
        width: 90vw;
        margin: 0 auto;  
    }
    
    .a1_m > h2{
        display: block;
        text-align: center;
        padding-top: 3vh;
        padding-bottom: 3vh;
        font-size: 5vw;
    }
    
    .a1_m > p{
        padding-left: 15vw;
        padding-top: 2vh;
        padding-right: 15vw;
        padding-bottom: 1vh;
        font-size: 20px;
    }

    .fig{
        display: flex;
        margin-top: 3vh;
        align-items: center;
        justify-content: center;
        padding-bottom: 13vh;
    }

    .deskbild{
        margin: 3vh;
        height: 50vh;
        width: 49vw;
        border: black solid;
        object-fit: cover;
    }
    
    .desktext{
        width: 35vw;
        text-align: center;
        margin: 30px;
        padding: 30px;
        font-size: 20px;
        
    }
    .desktext > h3{
        padding-bottom: 2vh;
    }
    .fo_m{
        background-color: #664438;
        grid-area: fo;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        bottom: 0;
        width: 100%;
    }
    
    .footer_kontakt{
        margin-top: 0.5vh;
        padding: 2px;
    }
    .footer_kontakt >p{
        color:#FBF0DF;
        font-size: 1.5vw;
        text-decoration: none;
    }
    .footer_kontakt >p > a{
        color:#FBF0DF;
        font-size: 1.5vw;
        text-decoration: underline;
    }
    #maps {
        grid-column-start: 4;
    }
    #maps > a{
        font-size: 1.5vw;
        color: #FBF0DF;
    }

   .fb> img{
    height: 13vh;
    padding-right: 2vw;
    padding-left: 15vw;
   }
   .fo_m> .fb_sok{
       padding-top: 4vh;
       color: #FBF0DF;
   }
    .fo_m> .bigman{
    font-size: 5vh;
    color: #FBF0DF;
    padding-top: 3vh;
    padding-right: 2vw;
    }
    .a1_m>.bara_synas_m{
        display: none;
    }

    .bara_synas_d{
        display: block;
    }
    
    .fig_2{
        display: flex;
        padding-top: 3vh;
        padding-bottom: 4vh;
        align-items: center;
        justify-content: center;
        padding-bottom: 16vh;
        margin-right: auto;
        margin-left: auto;
        width: 70vw;
        padding-left: 0;
    }
    .deskbild_2{
        margin-top: 2vh;
        height: 65vh;
        max-width: 40vw;
        object-fit: cover;
        border: black solid;
    }

    .mob_text{
        width: 35vw;
        text-align: center;
        margin: 30px;
        padding: 30px;
        font-size: 20px;

    }
    .fig_2>h3{
        display: none;
    }
    #aw{
        display: grid;
        grid-template-columns: 30vw 40vw;
        grid-template-rows: 65vh;
    }

    #grill_gari{
        grid-column-start: 2;
        margin-right: 30vw;
    }
    #grill_gar_text{
        grid-column-start: 1;
        grid-row-start: 1;
        padding: 30px;
        width: auto;
        
    }
    #dabigindaback{
        background-color: #FBF0DF;
        background-image: none;
        height: auto;
    }
    #dabigindaback> article {
        background-color: transparent;
        color: black;
        border: none;
        padding: 0;
    }
    #golf{
        width: 50vw;
        height: auto;
        object-fit: cover;
        border: black solid;
        margin: 3vh auto;
    }

    #hi_in_ai{
        display: none;
    }

    .hi_no_ai{
        display: block;
        text-align: center;
        padding-top: 13vh;
        padding-bottom: 3vh;
        font-size: 5vw;
    }
    .end_desk{
        display: inline;
    }

    .transportfig{
        height: fit-content;
        width: 100%;
        padding: 0px;
        margin: 0px;
        padding-top: 2vh;

        padding-bottom: 5vh;
        border: none;
        margin-bottom: 5vh;
        display: grid;
    }
    
    .bussbild{
        grid-column-start: 2;
        border: black solid;
        width: 30vw;
        height: auto;
        margin-left: 5vw;
        display: inline;
        margin-right: 5vw;
    }

    .transportarticle{
        padding-left: 5vw;
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .froetagsihittabild{
        width: auto;
        height: 10vh;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .hellibild{
        grid-column-start: 1;
        border: black solid;
        width: 30vw;
        height: auto;
        margin-right: 5vw;
        margin-left: 5vw;
        display: inline;
    }
    
    .transportarticle_2{
        grid-column-start: 2;
        grid-row-start: 1;
    }
    #desktop_foretaglogg_till_v{
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .visa_efter_swipe{
        display: block;
    }
    .griddiv{
        display: grid;
        grid-template-areas: 
        'an bo'
        ;
        grid-template-columns: 50% 50%;
    }
    .slide_bildtext{
      
        width: 80%;
        margin: auto;
        margin-bottom: 10vh;
        margin-top: 5vh;
        text-align: center;
    }
    #anki_bild{
        border: black solid 5px;
        grid-column-start: 1;
        width: 28vw;
    }
    #bob_bild{
        border: black solid 5px;
        grid-column-start: 1;
        width: 28vw;
    }
    .namn{
        font-size: 40px;
        padding-top: 1vh;
    }
    #ska_vara_grid{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 40vh;
    }
    #gird_till_brevid{
        grid-column-start: 1;
        grid-row-start: 1;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    #gridd_till_sist{
        grid-column-start: 2;
        grid-row-start: 1;
        padding-left: 2vw;
        padding-right: 2vw;
    }
       
    
}